<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586872962348-5e25846bklr36njhtnd5qeg47r7fagm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586872962348-5e25846bklr36njhtnd5qeg47r7fagm1</string>
	<key>API_KEY</key>
	<string>AIzaSyBg1K9eiKdm2mYNiHq0a3Rzm-ErpcJEt_s</string>
	<key>GCM_SENDER_ID</key>
	<string>586872962348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.basica</string>
	<key>PROJECT_ID</key>
	<string>basica-61570</string>
	<key>STORAGE_BUCKET</key>
	<string>basica-61570.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586872962348:ios:d2142aa2eb0333b86d0089</string>
</dict>
</plist>